@model IEnumerable<TestTask_4A_MVC.Models.Book>
@{
    ViewData["Title"] = "Каталог товаров";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Библиотека</title>
</head>
<body>
<h3>Книги</h3>
<a href="~/Home/Add">Добавить книгу</a>

<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td>Издатель</td>
        <td>Автор</td>
        <td>Дата публикования</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Publisher</td>
            <td>@book.Author</td>
            <td>@book.DatePublished.ToShortDateString()</td>
            <td>@book.Price</td>
            <td><a href="~/Home/Read/@book.Id">Прочитать</a></td>
        </tr>
    }
</table>
</body>
</html>